@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html,
body {
  background: black;
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
